@media (max-width:600px){
    *{
        margin:0;
        padding:0;
        box-sizing: border-box;
    }
    body{
        background:beige;
        /* height:200vh; */
    }
    body::-webkit-scrollbar{
        display:none;
    }
   
    .header{
        width:100%;
        padding:20px;
        background:maroon;
        position: sticky;
        top:-40px;
        z-index: 100;
    }
    /* logo */
    .header .logo{
        text-align: center;
        font-size:1.3rem;
        color:beige;
        letter-spacing: 3px;
        /* transition:all .2s ease; */
        font-weight: bold;
    }
    /* .header .logo.active{
        transform:translateY(-15px) scale(0);
        opacity:0;
    } */
     /* input container */
    .header .inputcontainer {
      display: flex;
      /* justify-content:center; */
      /* padding: 20px 0; */
      margin-top:15px;
      background:transparent;
      gap:10px;
      align-items: center;
    }
   
    /* input */
    .header .inputcontainer input{
        padding:10px;
        background:beige;
        outline: none;
        border:none;
        border-top-left-radius:20px;
        border-bottom-right-radius:20px;
        font-weight: bold;
        width:300px;
        margin:auto;
        /* transition:all 1s ease; */
    }
    .header .inputcontainer input.active{
        /* transform:translateX(-40px); */
    }
    /* cart icon */
    .header .inputcontainer .carticon{
        position: relative;
        font-size:1.5rem;
        margin-right:10px;
        cursor: pointer;
        color:beige;
        margin-left:auto;
    }
    /* cart count */
    .header .inputcontainer .carticon .productCount{
        position: absolute;
        width:25px;
        height:25px;
        background:black;
        color:beige;
        font-size:.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius:20px;
        top:10px;
        right:-12px;
    }
    .productContainer{
        width:100%;
        overflow-y:auto;
        height:auto;
        padding:30px;
        background:black;
        background:transparent;
        display: grid;
        gap:10px;
        grid-template-columns: repeat(2,1fr);
    }
     .product{
        padding:20px;
        border-radius:10px;
        display: flex;
        flex-direction: column;
        gap:10px;
        height:auto;
        align-items: center;
        /* width:200px;
        height:200px; */
        box-shadow: 0 0 10px rgba(0,0,0,0.8);
    }
    .productContainer .product .image{
        width:100px;
        height:100px;
        position: relative;
        perspective: 1000px;
        border-radius:10px;
        border:1px solid maroon;
        overflow: hidden;
    }
    .productContainer .product .image img{
        width:100%;
        height:100%;
        border-radius:10px;
        padding:5px;
        position: absolute;
        transform-style: preserve-3d;
        transition:transform .5s ease;
    }
      .productContainer .product:hover .image img{
        transform:scale(1.5) rotateZ(10deg);
    }
    .productContainer .product .productDetails{
        display:grid;
        grid-template-columns: auto auto;
        justify-content: center;
        align-items: center;
        gap:10px;
    }
    .productContainer .product .productDetails p:nth-child(1){
        border-right:1px solid maroon;
        padding-right:10px;
        font-size:.9rem;
        text-align: start;
    }
    .productContainer .product .productDetails p:nth-child(2){
        background:rgb(178, 178, 149);
    }
    .productContainer .product .productbtns{
        display:grid;
        grid-template-columns: repeat(2,1fr);
        gap:10px;
    }
    .productContainer .product .productbtns button{
        padding:10px;
        border:none;
        cursor: pointer;
        border-radius:10px;
    }
    .productContainer .product .productbtns button:hover{
        opacity:0.8;
    }
    .productContainer .product .productbtns button:nth-child(1){
        background:maroon;
        color:beige;
        font-size: .8rem;
    }
    .productContainer .product .productbtns button:nth-child(2){
        background:black;
        color:beige;
    }
    
.cartcontainer{
          width:100%;
           padding:30px;
           background:transparent;
           display: flex;
           gap:10px;
           height:calc(100vh - 30vh);
           overflow-y: auto;
           flex-direction: column;
           gap:15px;
}
.cartcontainer::-webkit-scrollbar{
    display: none;
}
.cartItem{
    padding:20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
    border-radius:10px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap:10px;
    transition:all 0.45s ease;
}
.cartItem.remove{
    opacity:0;
    height:0;
    margin:0;
    padding:0;
    overflow: hidden;
    transform:translate(-150px);
}
.cartImage{
    width:80px;
    height:80px;
    position: relative;
    grid-column: 1;
    grid-row:1;
}
.cartImage img{
    width:100%;
    height:100%;
    position: absolute;
    padding:6px;
    border-radius:5px;
    border:2px solid maroon;
}
.cartBtns{
    grid-column: 1;
    grid-row:2;
    width:80px;
    height:auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap:3px;
    
}
.cartBtns span.cartCount{
    background:beige;
    color:black;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
    padding:6px;
}
.cartBtns button{
    padding:7px;
    cursor: pointer;
    border:none;
    border-radius:4px;
}
.cartBtns button:nth-child(1){
    background:red;
    color:white;
}
.cartBtns button:nth-child(3){
    background:seagreen;
    color:white;
}
.cartItemName{
    grid-column:2;
    grid-row:1;
    display: inline-flex;
    width:8rem;
    font-weight: bold;
    border-right:1px solid;
    margin-right:10px;
}

.cartItemPrice{
    grid-column:3;
    grid-row:1;
    display:inline-flex;
    background:rgb(178, 178, 149);
    justify-content: center;
}
.cartItem button.remove{
    padding:10px;
    border:none;
    border-top-left-radius:5px;
    border-bottom-right-radius:5px;
    background:red;
    color: white;
    letter-spacing: 2px;
    cursor: pointer;
}

    /*BOTTOM FOOTER */

.cartFooter{
    width:100%;
    position: fixed;
    height:80px;
    background:maroon;
    justify-content: center;
    bottom:0;
    align-items: center;
    padding:30px;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: auto;
    overflow:hidden;
    border:1px solid;
}
.cartFooter .totalPrice{
    position: relative;
    color:beige;
    letter-spacing: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.cartFooter .totalPrice b{
    position: absolute;
    margin-left:5px;
    background:rgb(178, 178, 149);
    color:black;
    display: inline-flex;
}
    /* Footer BUTTONS */

.footerbtns {
    display: grid;
    grid-template-columns: 50% 50%;
    gap:10px;

}
.footerbtns button:hover{
    opacity:.8;
    cursor: pointer;
}
.cartFooter .footerbtns button.cartBuy, .cartFooter .footerbtns button.cartRemove{
    background:beige;
    color:black;
    border:none;
    padding:8px 0;
    border-top-left-radius:10px;
    border-bottom-right-radius:10px;
    letter-spacing: 2px;
}
.cartFooter .footerbtns button.cartRemove{
    background:black;
    color:beige;
    letter-spacing: normal;
}
}
            /* No cart animations */

            .cartE1{
                display: flex;
                justify-content: center;
                align-items: center;
                padding:10px;
                width:50%;
                font-size:1.3rem;
                letter-spacing: 3px;
                position: fixed;
                height:auto;
                color:red;
                animation:animate 1s linear infinite alternate;
            }
            @keyframes animate{
                to{
                    transform:translateY(5px);
                }
                to{
                    transform: translateY(-10px);
                }
            }

/*lines numbers to identify the styling 
line :- 15-85 : header content same for cart also
line :- 86-162 : productscontainer same for cart also */
/* cart page stylings */   